In [1]:
import pandas as pd
import os

In [2]:
LIB = pd.DataFrame({'book_num':[0,1,2,3,4,5], 'title':['Hunger Games', 'Catching Fire', 'Mockingjay', 'Divergent', 'Insurgent', 'Allegiant'],
             'author':['Collins', 'Collins', 'Collins', 'Roth', 'Roth', 'Roth'],
             'year': ['2008', '2009', '2010', '2011', '2012', '2013'],
             'genre':['adventure', 'dystopian', 'adventure', 'dystopian', 'romance', 'romance'],
             'cover color':['black', 'red', 'blue', 'blue', 'green', 'red']})

In [3]:
LIB

   book_num          title   author  year      genre cover color
0         0   Hunger Games  Collins  2008  adventure       black
1         1  Catching Fire  Collins  2009  dystopian         red
2         2     Mockingjay  Collins  2010  adventure        blue
3         3      Divergent     Roth  2011  dystopian        blue
4         4      Insurgent     Roth  2012    romance       green
5         5      Allegiant     Roth  2013    romance         red

In [4]:
LIB['file'] = LIB['author']+"_"+LIB['title'].str.replace(" ", "")

In [5]:
LIB['txt_str'] = "Books/"+LIB['file']+".txt"

In [6]:
LIB

,book_num,title,author,year,genre,cover color,file,txt_str
0,0,Hunger Games,Collins,2008,adventure,black,Collins_HungerGames,Books/Collins_HungerGames.txt
1,1,Catching Fire,Collins,2009,dystopian,red,Collins_CatchingFire,Books/Collins_CatchingFire.txt
2,2,Mockingjay,Collins,2010,adventure,blue,Collins_Mockingjay,Books/Collins_Mockingjay.txt
3,3,Divergent,Roth,2011,dystopian,blue,Roth_Divergent,Books/Roth_Divergent.txt
4,4,Insurgent,Roth,2012,romance,green,Roth_Insurgent,Books/Roth_Insurgent.txt
5,5,Allegiant,Roth,2013,romance,red,Roth_Allegiant,Books/Roth_Allegiant.txt

In [7]:
os.chdir("/Users/sydneymathiason/Documents/MSDS/Spring/DS5001/final_project")
length_books = []
for text_file in LIB['txt_str']:
    text = open(text_file, 'r').read()
    length_books.append(len(text))

In [8]:
LIB['n_char'] = length_books

In [9]:
LIB

,book_num,title,author,year,genre,cover color,file,txt_str,n_char
0,0,Hunger Games,Collins,2008,adventure,black,Collins_HungerGames,Books/Collins_HungerGames.txt,543533
1,1,Catching Fire,Collins,2009,dystopian,red,Collins_CatchingFire,Books/Collins_CatchingFire.txt,650245
2,2,Mockingjay,Collins,2010,adventure,blue,Collins_Mockingjay,Books/Collins_Mockingjay.txt,562696
3,3,Divergent,Roth,2011,dystopian,blue,Roth_Divergent,Books/Roth_Divergent.txt,664476
4,4,Insurgent,Roth,2012,romance,green,Roth_Insurgent,Books/Roth_Insurgent.txt,579698
5,5,Allegiant,Roth,2013,romance,red,Roth_Allegiant,Books/Roth_Allegiant.txt,604651

In [10]:
LIB['n_char'].mean()

600883.1666666666

In [11]:
LIB.columns

Index(['book_num', 'title', 'author', 'year', 'genre', 'cover color', 'file',
       'txt_str', 'n_char'],
      dtype='object')

In [12]:
LIB.to_csv("data/LIB.csv", index=False)